# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diretórios do sistema operacional
.DS_Store
Thumbs.db

# Arquivos de ambiente
.env

# Diretórios temporários
tmp/
temp/

# Diretórios
